# Django

SECRET_KEY=ключ для приложения django
DEBUG=статус режима отладки True / False

# DB postgresql

POSTGRES_DB=имя базы данных
POSTGRES_USER=имя пользователя базы данных
POSTGRES_PASSWORD=пароль пользователя базы данных
POSTGRES_HOST=адрес хоста базы данных
POSTGRES_PORT=порт базы данных
